@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-satoshi: "Satoshi", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi", sans-serif;
}

@layer components {
  .body-text p {
    @apply py-2 px-1;
  }
}

h1 {
  font-family: var(--font-satoshi);
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

p {
  font-family: var(--font-satoshi);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 1rem;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}